[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
prometheus-client = "*"

[dev-packages]
pylint = "*"
mypy = "*"
types-requests = "*"
requests-mock = "*"

[requires]
python_version = "3.12"
